/vendor/
/public/hot
/public/storage
/storage/*.key
.phpunit.result.cache
.env
.env.*
!.env.example
/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.idea/
/.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
/storage/logs/*.log
*.log
*.sql
*.sqlite
/public/build/
/dist/
/.cache/
/.parcel-cache/
/.vite/
/build/
/out/
composer.phar
/.env.local
/.env.testing
/.env.backup
/.sass-cache
/.cache-loader
Homestead.json
Homestead.yaml
_ide_helper.php
.phpactor.json